# 빌드 및 Gradle 관련
.gradle/
build/
out/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# 로그 파일
*.log

# 환경별 설정 파일
*.env
application-local.properties
application-dev.properties
application-test.properties

# STS/Eclipse
.classpath
.project
.settings/
bin/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 기타
HELP.md

# 민감 설정 파일 제외
src/main/resources/application*.properties
*.env
